In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# TODO: specify path to folder containing training data
# directory = 'path/Individuals'
directory = '/Users/erinliu/Downloads/1 Muscle Fatigue/xIMU3/Data/Participants'

In [5]:
# these are the folders for participants who did not use the 3 kg weights
skip = {
    'individual_00' : ['experiment_1', 'experiment_2'],
    'individual_03' : ['experiment_1', 'experiment_2'],
    'individual_04' : ['experiment_1', 'experiment_2'],
    'individual_07' : ['experiment_1', 'experiment_4'],
    'individual_08' : ['experiment_1', 'experiment_2'],
    'individual_11' : ['experiment_2'],
    'individual_14' : ['experiment_2'],
    'individual_17' : ['experiment_1'],
    'individual_23' : ['experiment_3', 'experiment_4'],
    'individual_47' : ['experiment_1', 'experiment_2'],
    'individual_49' : ['experiment_1', 'experiment_2'],
    'individual_51' : ['experiment_1'],
    'individual_52' : ['experiment_1', 'experiment_2'],
    'individual_53' : ['experiment_1'],
    'individual_54' : ['experiment_1', 'experiment_2'],
    'individual_55' : ['experiment_1'],
}
skip_folders = []
for individual_folder_skip, experiments_skip in skip.items():
  for experiment_folder_skip in experiments_skip:
    skip_folders.append(f'{directory}/{individual_folder_skip}/{experiment_folder_skip}')

In [44]:
all_individuals = pd.DataFrame(columns=['individual id', 'age', 'height (cm)', 'weight (kg)', 'gender', 'number of experiments'])
individuals_folders = [folder for folder in sorted(os.listdir(directory)) if 'individual' in folder]
for individual_folder in individuals_folders:
    experiment_folders = [folder for folder in sorted(os.listdir(f'{directory}/{individual_folder}')) if 'experiment' in folder]
    num_experiments = 0
    for experiment_folder in experiment_folders:
        folder_path = f'{directory}/{individual_folder}/{experiment_folder}'
        if folder_path not in skip_folders:
            num_experiments += 1
            if num_experiments == 1:
                individual_data = pd.read_csv(f'{folder_path}/basic_info.csv').iloc[0]
                age = individual_data['age']
                height = int(individual_data['height'][:-2])
                weight = int(individual_data['weight'][:-2])
                gender = individual_data['gender']
    if num_experiments > 0:
        individual_df = pd.DataFrame([[individual_folder, age, height, weight, gender, num_experiments]], columns=['individual id', 'age', 'height (cm)', 'weight (kg)', 'gender', 'number of experiments'])
        all_individuals = pd.concat([all_individuals, individual_df], ignore_index=True)

In [45]:
all_individuals

    individual id age height (cm) weight (kg)  gender number of experiments
0   individual_00  20         180          70    Male                     4
1   individual_01  35         183          91    Male                     2
2   individual_02  35         175          77    Male                     2
3   individual_05  24         172          55    Male                     1
4   individual_06  25         163          55  Female                     2
5   individual_07  21         181          78    Male                     2
6   individual_08  23         178          60    Male                     2
7   individual_09  23         181          63    Male                     2
8   individual_10  25         180          65    Male                     2
9   individual_11  30         179          83    Male                     1
10  individual_12  26         181          65    Male                     2
11  individual_13  24         179          70    Male                     3
12  individual_14  20         152          34  Female                     1
13  individual_15  32         183         102    Male                     2
14  individual_16  30         182          76    Male                     2
15  individual_18  24         178          80    Male                     2
16  individual_19  22         166          70  Female                     2
17  individual_20  29         163          50  Female                     2
18  individual_21  24         175          71    Male                     2
19  individual_22  31         174          75    Male                     1
20  individual_23  26         193          94    Male                     2
21  individual_24  21         160          51  Female                     2
22  individual_25  23         178          60    Male                     2
23  individual_26  20         180          70    Male                     2
24  individual_27  21         178          85    Male                     2
25  individual_28  27         167          68    Male                     1
26  individual_29  22         182          72    Male                     2
27  individual_30  42         180          93    Male                     1
28  individual_31  22         175          70    Male                     2
29  individual_32  35         175          77    Male                     2
30  individual_33  29         179          90    Male                     2
31  individual_34  34         164          67    Male                     2
32  individual_35  35         183          91    Male                     2
33  individual_36  33         175          65    Male                     2
34  individual_37  28         178          93    Male                     1
35  individual_38  23         180          70    Male                     1
36  individual_39  21         168          72    Male                     2
37  individual_40  24         175          74    Male                     1
38  individual_41  24         181         105    Male                     2
39  individual_42  24         173          65    Male                     2
40  individual_43  31         175          75    Male                     2
41  individual_44  28         175          64  Female                     2
42  individual_45  26         178          80    Male                     2
43  individual_46  24         179          70    Male                     2
44  individual_48  35         183          78    Male                     1
45  individual_50  25         193          83    Male                     2
46  individual_56  58         174          70    Male                     1
47  individual_57  24         181          79    Male                     1
48  individual_58  30         183          78    Male                     1
49  individual_59  34         176          83    Male                     1
50  individual_60  24         154          45  Female                     1
51  individual_61  29         168          65    Male                     2
52  individual_62  30         178          70    Male                     2
53  individual_63  30         178          80    Male                     2
54  individual_64  36         177          66    Male                     2
55  individual_65  29         167          85  Female                     2
56  individual_66  67         181          83    Male                     2

In [52]:
# choose 10 participants to use for online testing
test_participants = all_individuals.sample(n=10)

# use remaining participants for training
train_participants = all_individuals.drop(test_participants.index)

In [70]:
list(test_participants['individual id'])

['individual_14',
 'individual_65',
 'individual_38',
 'individual_59',
 'individual_43',
 'individual_46',
 'individual_35',
 'individual_09',
 'individual_41',
 'individual_30']

In [71]:
list(train_participants['individual id'])

['individual_00',
 'individual_01',
 'individual_02',
 'individual_05',
 'individual_06',
 'individual_07',
 'individual_08',
 'individual_10',
 'individual_11',
 'individual_12',
 'individual_13',
 'individual_15',
 'individual_16',
 'individual_18',
 'individual_19',
 'individual_20',
 'individual_21',
 'individual_22',
 'individual_23',
 'individual_24',
 'individual_25',
 'individual_26',
 'individual_27',
 'individual_28',
 'individual_29',
 'individual_31',
 'individual_32',
 'individual_33',
 'individual_34',
 'individual_36',
 'individual_37',
 'individual_39',
 'individual_40',
 'individual_42',
 'individual_44',
 'individual_45',
 'individual_48',
 'individual_50',
 'individual_56',
 'individual_57',
 'individual_58',
 'individual_60',
 'individual_61',
 'individual_62',
 'individual_63',
 'individual_64',
 'individual_66']

In [74]:
train_participants['bmi'] = train_participants['weight (kg)'] / ((train_participants['height (cm)'] / 100) ** 2)
test_participants['bmi'] = test_participants['weight (kg)'] / ((test_participants['height (cm)'] / 100) ** 2)

In [89]:
print(
f"""
Total Training Participants: {len(train_participants)}
Age: {train_participants.age.mean():.1f} +/- {train_participants.age.std():.1f}
BMI: {train_participants['bmi'].mean():.1f} +/- {train_participants['bmi'].std():.1f}
Number of Experiments: {train_participants['number of experiments'].sum() - 1}
"""
)
# Number of Experiments - 1 because we skip individual_13 experiment 1 because the experiment did not reach level 7 fatigue

Total Training Participants: 47
Age: 28.3 +/- 8.6
BMI: 23.3 +/- 2.8
Number of Experiments: 85

In [79]:
print(
f"""
Total Test Participants: {len(test_participants)}
Age: {test_participants.age.mean():.1f} +/- {test_participants.age.std():.1f}
BMI: {test_participants['bmi'].mean():.1f} +/- {test_participants['bmi'].std():.1f}
Number of Experiments: {test_participants['number of experiments'].sum()}
"""
)

Total Test Participants: 10
Age: 28.5 +/- 6.9
BMI: 24.7 +/- 5.4
Number of Experiments: 16

In [81]:
test_females = test_participants[test_participants['gender'] == 'Female']
test_males = test_participants[test_participants['gender'] == 'Male']
train_females = train_participants[train_participants['gender'] == 'Female']
train_males = train_participants[train_participants['gender'] == 'Male']

In [83]:
test_females

,individual id,age,height (cm),weight (kg),gender,number of experiments,bmi
12,individual_14,20,152,34,Female,1,14.716066
55,individual_65,29,167,85,Female,2,30.477966

In [82]:
print(
f"""
Number of Female Participants: {len(test_females)}
Age: {test_females.age.mean():.1f} +/- {test_females.age.std():.1f}
BMI: {test_females['bmi'].mean():.1f} +/- {test_females['bmi'].std():.1f}
Number of Experiments: {test_females['number of experiments'].sum()}
"""
)

Number of Female Participants: 2
Age: 24.5 +/- 6.4
BMI: 22.6 +/- 11.1
Number of Experiments: 3

In [84]:
test_males

,individual id,age,height (cm),weight (kg),gender,number of experiments,bmi
35,individual_38,23,180,70,Male,1,21.604938
49,individual_59,34,176,83,Male,1,26.794938
40,individual_43,31,175,75,Male,2,24.489796
43,individual_46,24,179,70,Male,2,21.847009
32,individual_35,35,183,91,Male,2,27.173102
7,individual_09,23,181,63,Male,2,19.230182
38,individual_41,24,181,105,Male,2,32.050304
27,individual_30,42,180,93,Male,1,28.703704

In [85]:
print(
f"""
Number of Male Participants: {len(test_males)}
Age: {test_males.age.mean():.1f} +/- {test_males.age.std():.1f}
BMI: {test_males['bmi'].mean():.1f} +/- {test_males['bmi'].std():.1f}
Number of Experiments: {test_males['number of experiments'].sum()}
"""
)

Number of Male Participants: 8
Age: 29.5 +/- 7.1
BMI: 25.2 +/- 4.2
Number of Experiments: 13

In [62]:
train_females

    individual id age height (cm) weight (kg)  gender number of experiments
4   individual_06  25         163          55  Female                     2
16  individual_19  22         166          70  Female                     2
17  individual_20  29         163          50  Female                     2
21  individual_24  21         160          51  Female                     2
41  individual_44  28         175          64  Female                     2
50  individual_60  24         154          45  Female                     1

In [86]:
print(
f"""
Number of Female Participants: {len(train_females)}
Age: {train_females.age.mean():.1f} +/- {train_females.age.std():.1f}
BMI: {train_females['bmi'].mean():.1f} +/- {train_females['bmi'].std():.1f}
Number of Experiments: {train_females['number of experiments'].sum()}
"""
)

Number of Female Participants: 6
Age: 24.8 +/- 3.2
BMI: 20.8 +/- 2.4
Number of Experiments: 11

In [64]:
train_males

    individual id age height (cm) weight (kg) gender number of experiments
0   individual_00  20         180          70   Male                     4
1   individual_01  35         183          91   Male                     2
2   individual_02  35         175          77   Male                     2
3   individual_05  24         172          55   Male                     1
5   individual_07  21         181          78   Male                     2
6   individual_08  23         178          60   Male                     2
8   individual_10  25         180          65   Male                     2
9   individual_11  30         179          83   Male                     1
10  individual_12  26         181          65   Male                     2
11  individual_13  24         179          70   Male                     3
13  individual_15  32         183         102   Male                     2
14  individual_16  30         182          76   Male                     2
15  individual_18  24         178          80   Male                     2
18  individual_21  24         175          71   Male                     2
19  individual_22  31         174          75   Male                     1
20  individual_23  26         193          94   Male                     2
22  individual_25  23         178          60   Male                     2
23  individual_26  20         180          70   Male                     2
24  individual_27  21         178          85   Male                     2
25  individual_28  27         167          68   Male                     1
26  individual_29  22         182          72   Male                     2
28  individual_31  22         175          70   Male                     2
29  individual_32  35         175          77   Male                     2
30  individual_33  29         179          90   Male                     2
31  individual_34  34         164          67   Male                     2
33  individual_36  33         175          65   Male                     2
34  individual_37  28         178          93   Male                     1
36  individual_39  21         168          72   Male                     2
37  individual_40  24         175          74   Male                     1
39  individual_42  24         173          65   Male                     2
42  individual_45  26         178          80   Male                     2
44  individual_48  35         183          78   Male                     1
45  individual_50  25         193          83   Male                     2
46  individual_56  58         174          70   Male                     1
47  individual_57  24         181          79   Male                     1
48  individual_58  30         183          78   Male                     1
51  individual_61  29         168          65   Male                     2
52  individual_62  30         178          70   Male                     2
53  individual_63  30         178          80   Male                     2
54  individual_64  36         177          66   Male                     2
56  individual_66  67         181          83   Male                     2

In [87]:
print(
f"""
Number of Male Participants: {len(train_males)}
Age: {train_males.age.mean():.1f} +/- {train_males.age.std():.1f}
BMI: {train_males['bmi'].mean():.1f} +/- {train_males['bmi'].std():.1f}
Number of Experiments: {train_males['number of experiments'].sum()}
"""
)

Number of Male Participants: 41
Age: 28.9 +/- 9.1
BMI: 23.6 +/- 2.7
Number of Experiments: 75